<title>Find Flights</title>

<h2>Book Flights</h2>

<div id="search_form_container">
	<%= render partial: 'flights/search_form' %>
</div>

<div id="table_container">
	<%= render partial: 'flights/flights_table' %>
</div>